In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('../data/tickets_pv_clean.csv', sep=';')

In [55]:
df

                       Produit                Catégorie
0             POMME GOLDEN 1KG         Fruits & Légumes
1                COCA COLA 15L                 Boissons
2          SHAMPOING DOP 250ML                  Hygiène
3                   BANANE 1KG         Fruits & Légumes
4                ORANGE JUS 1L                 Boissons
..                         ...                      ...
99      ROTTI DE DINDE LOUE X2   Viandes & Charcuterie
100  FLEURY JBON LE SUP SC 4TR    Viandes & Charcuterie
101             GOUDALE ANCIEN        Produits laitiers
102            CAROTTES PAYSAN         Fruits & Légumes
103     POMME DE TERRE BLANCHE        Fruits & Légumes

[104 rows x 2 columns]

In [56]:
df["Catégorie"] = df['Catégorie'].str.strip()

In [57]:
df['Catégorie'].value_counts()

Catégorie
Fruits & Légumes            21
Viandes & Charcuterie       18
Épicerie sucrée             11
Produits laitiers           11
Poisson & Fruits de mer      8
Boulangerie & Pâtisserie     8
Entretien / Ménage           7
Boissons                     6
Épicerie salée               6
Hygiène                      3
Surgelés                     3
Maison & Loisirs             2
Name: count, dtype: int64

In [59]:
df1 = pd.read_csv('../data/tickets_nettoye.csv', sep=';')
df1

,Produit,Categories_OFF
0,ORANGE JUICE,beverages-and-beverages-preparations
1,TONIK,plant-based-foods-and-beverages
2,CONFITURE DE FRAISE,plant-based-foods-and-beverages
3,SOURDOUGH WHITE CIABATTIN BREAD,plant-based-foods-and-beverages
4,GERÖSTETE MANDEL OHNE ZUCKER,beverages-and-beverages-preparations
...,...,...
1830,AL AMBAR THÉ VERT EN GRAINS,beverages-and-beverages-preparations
1831,THÉ VERT GLACÉ SAVEUR CITRON VERT & MENTHE,plant-based-foods-and-beverages
1832,THÉ VERT MENTHE INTENSE MENTHE VERTE & MENTHE ...,beverages-and-beverages-preparations
1833,THÉ VERT,plant-based-foods-and-beverages
1834,INFUSION À FROID DETOX CRANBERRY FRAMBOISE HIB...,beverages-and-beverages-preparations

In [61]:
df1['Categories_OFF'].value_counts()

Categories_OFF
plant-based-foods-and-beverages         719
snacks                                  233
beverages-and-beverages-preparations    224
dairies                                 167
meats-and-their-products                136
breakfasts                               89
seafood                                  81
condiments                               65
desserts                                 36
meals                                    27
beverages                                24
sweeteners                                9
frozen-foods                              8
fermented-foods                           5
undefined                                 5
canned-foods                              2
spreads                                   1
food-additives                            1
dried-products                            1
dietary-supplements                       1
fats                                      1
Name: count, dtype: int64

In [66]:
df2 = pd.read_csv('../data/tickets_categorie_final.csv', sep=';')
df2['Categories_OFF'].value_counts()

Categories_OFF
Fruits & Légumes           743
Épicerie sucrée            369
Boissons                   224
Produits laitiers          167
Viandes & Charcuterie      136
Épicerie salée              95
Poisson & Fruits de mer     81
Surgelés                     8
Ferment                      5
Entretien / Ménage           5
Additif                      1
Hygiène                      1
Name: count, dtype: int64

In [67]:
df3 = pd.read_csv('../data/produits_openfoodfacts_brut.csv', sep=';')
df3['Categories_OFF'].value_counts()

Categories_OFF
en:plant-based-foods-and-beverages         728
en:snacks                                  233
en:beverages-and-beverages-preparations    230
en:dairies                                 167
en:meats-and-their-products                136
en:breakfasts                               89
en:seafood                                  81
en:condiments                               65
en:desserts                                 38
en:meals                                    27
en:beverages                                24
en:sweeteners                                9
en:frozen-foods                              8
en:fermented-foods                           5
en:undefined                                 5
en:canned-foods                              2
en:spreads                                   1
en:food-additives                            1
en:dried-products                            1
en:dietary-supplements                       1
en:fats                                      1
Name: count, dtype: int64